<div>
  <h1>{{ 'PAGES.INVENTORY.TITLE' | translate }}</h1>
  <hr>
  <div class="d-flex flex-row mb-3">
    <button type="button" class="btn btn-primary" (click) = "addInventory()">
      {{'Add' | translate}}
    </button>
  </div>
  <div class="d-flex flex-row" *ngIf="inventories">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{{ 'PAGES.INVENTORY.Id' | translate}}</th>
          <th scope="col">{{ 'Dealer' | translate}}</th>
          <th scope="col">{{ 'Paid' | translate}}</th>
          <th scope="col">{{ 'Total' | translate}}</th>
          <th scope="col">{{ 'LastModified' | translate}}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inventories">
          <th scope="row">{{item.inventory_id}}</th>
          <td>{{item.Dealer_Name}}</td>
          <td>{{item.paid}}</td>
          <td>{{item.total}}</td>
          <td>{{item.timestamp | date:'medium'}}</td>
          <td>
            <i-bs name="pencil-square" (click)="editInventory(item)">
            </i-bs>
            <i-bs name="trash" (click)="delete(item)" class="ml-3">
            </i-bs>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
