<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{ 'Brand' | translate }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
    </div>
  </div>
</nav>
<ng-sidebar-container class="msb-container">

  <!-- A sidebar -->
  <ng-sidebar [(opened)]="_opened" mode="slide" [dock]="_docked" dockedSize="55px">
    <div class="vertical-nav bg-white msb-sidebar" id="sidebar">
      <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
          <a routerLink="./dashboard" class="nav-link font-italic bg-light">
            <i-bs name="book"></i-bs>
            {{ 'Dashboard' | translate }}
          </a>
        </li>
      </ul>

      <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">{{ 'Admin' | translate }}</p>

      <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
          <a routerLink="./inventory" class="nav-link font-italic bg-light">
            <i-bs name="basket"></i-bs>
            {{ 'Inventory' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="./dealer" class="nav-link font-italic bg-light">
            <i-bs name="people"></i-bs>
            {{ 'Dealer' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="./product" class="nav-link font-italic bg-light">
            <i-bs name="collection"></i-bs>
            {{ 'PAGES.Product.TITLE' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="msb-container container-fluid">
      <div class="row col-11">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</ng-sidebar-container>
