<div class="modal-header">
  <h4 class="modal-title">{{ 'PAGES.Dealer.AddTitle' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="dealerForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <fieldset *ngIf="isEditMode">
      <label class="form-label" for="id">{{'PAGES.Dealer.Id' | translate}}</label>
      <input class="form-control" id="id" type="text" formControlName="dealer_id">
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="name" class="form-label">{{"Name" | translate }}</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
          placeholder="{{'Name.Placeholder' | translate }}" formControlName="name">
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="number" class="form-label">{{"Mobile" | translate }}</label>
        <input type="number" class="form-control" id="number" aria-describedby="emailHelp"
          placeholder="{{'Mobile.Placeholder' | translate }}" formControlName="number">
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="email" class="form-label">{{"Email" | translate }}</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          placeholder="{{'Email.Placeholder' | translate }}" formControlName="email">
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="amount" class="form-label">{{"PayAmount" | translate }}</label>
        <input type="number" class="form-control" id="amount" formControlName="amount">
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="notes" class="form-label">{{"Notes" | translate }}</label>
        <textarea class="form-control" id="notes" rows="3" spellcheck="false" formControlName="notes"></textarea>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!dealerForm.valid">{{"Submit" | translate }}</button>
    <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')">{{"Close" | translate }}</button>
  </div>
</form>
