<div class="modal-header">
  <h4 class="modal-title">{{ 'PAGES.Dealer.AddTitle' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="payForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <fieldset>
      <label class="form-label" for="id">{{'PAGES.Dealer.Id' | translate}}</label>
      <input class="form-control" id="id" type="text" formControlName="dealer_id">
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="name" class="form-label">{{"Name" | translate }}</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
          placeholder="{{'Name.Placeholder' | translate }}" formControlName="name">
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="name" class="form-label">{{"Amount" | translate }}</label>
        <input type="text" class="form-control" id="amount" formControlName="amount">
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="paying" class="form-label">{{"Paying" | translate }}</label>
        <input type="number" class="form-control" id="paying" formControlName="paying">
      </div>
    </fieldset>
    <div class="d-flex">
      <div class="form-group form-check-inline">
        <label for="date" class="sr-only">{{"Date" | translate }}</label>
        <div class="input-group">
          <input class="form-control mr-2" placeholder="yyyy-mm-dd" id="date" name="date" formControlName="date"
            ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append form-check-inline">
            <i-bs name="calendar-date" width="1rem" (click)="d.toggle()" height="1rem">
            </i-bs>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="time" class="sr-only">{{"Timestamp" | translate }}</label>
        <ngb-timepicker id="time" formControlName="time" [meridian]="true"></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!payForm.valid">{{"Submit" | translate }}</button>
    <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')">{{"Close" | translate }}</button>
  </div>
</form>
